@import "//fonts.googleapis.com/css?family=Noto+Sans:400,500,700,400italic";

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.svg-container {
    position:absolute;
    left:0%;
    width:100%;
    top: 0%; height: 100%;
    overflow:hidden;
}

.svg-container svg {
    position:absolute;
    left:1%;
    width:98%;
    top: 3%; height: 88%;
    overflow:hidden;
}

.svg-container.nocontrols svg {
    height: 92%;
}

#svg-presentation {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}

#svg-presentation .svg-container {
    position: relative;
}

/* Clear float fix */
#svg-controls:after {
    display: table;
    content: "";
    clear: both;
}

.controls {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: 20px 20px;
    bottom: 0;
    right: 0;
    left: 0;
}

.controls .controls-inner {
    position: relative;
}

.controls .column.left,
.controls .column.right {
    position: absolute;
    height: 25px;
    bottom: 0;
}

.controls .column.left {
    width: 30px;
    left: 0;
}

.controls .column.middle {
    margin-right: 135px;
    margin-left: 60px;
    position: relative;
    padding: 10px 0;
}

.controls .column.right {
    width: 120px;
    right: 0;
}

.controls .column.fullscreen {
    margin: 3px 5px;
}

.controls #player {
    color: #00abfd;
}

.controls #fullscreen {
    display: inline-block;
    color: #111111;
}

.controls #fullscreen.inverse {
    color: #eeeeee;
}

.controls #themes {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 70px;
}

.controls #timer {
    font-size: 0.8em;
    position: absolute;
    right:0;
    top: 12px;
}

.controls #timer-current {
    color: #000000;
}

.controls #timer-duration,
.controls #timer-separator {
    color: #666666;
}

.controls #timer-current.inverse {
    color: #ffffff;
}

.controls #timer-duration.inverse,
.controls #timer-separator.inverse {
    color: #999999;
}

.ui-widget-content {
    border: none;
    background: #aaa;
}
.ui-slider-horizontal {
    height: 2px;
    cursor: pointer;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: #00abfd;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -12px;
    margin-left: -25px;
}

.ui-slider .ui-slider-handle {
    width: 50px;
    height: 26px;
    outline: none;
    cursor: pointer;
}

.ui-corner-all {
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}